
@{
    ViewBag.Title = "Calendar";
}
@section scripts{
    <script>
        $(document).ready(function () {
            var calendar = new Calendar();
            calendar.initCalendar();
            
        })
    </script>
}
<h2>Calendar</h2>
<div id="calendar"></div>
@*<div class="container">

        <div id="calendar"></div>
    </div>*@
