
@{
    ViewBag.Title = "Calendar";
}
@section scripts{
    <script>
        $(document).ready(function () {
            var calendar = new Calendar();
            calendar.initCalendar();
            
        })
    </script>
}
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <i class="fa fa-coffee"></i>
    Check your schedule and <strong> be on time !</strong>.
</div>
<h2 class="fontTU">Calendar</h2>
<div id="calendar"></div>

