
@{
    ViewBag.Title = "Calendar";
}
@section scripts{
    <script>
        $(document).ready(function () {
            var calendar = new Calendar();
            calendar.initCalendar();
        })
    </script>
}
<h2 class="fontTU" style="text-align:center">Calendar</h2>
<div id="calendar"></div>
