
@{
    ViewBag.Title = "NoPermission";
    Layout = null;
}

<style>
    body {
        background-color: #e6ecef;
    }

    #background {
        position: fixed;
        top: 35%;
        left: 32%;
    }
</style>
<div id="background">
    <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/access_denied.gif")" />
</div>
