@{
    ViewBag.Title = "In brief";
}
<div class="content-body" style="color: white;">
    <h2>Industrial Engineering</h2>
    <div class="content-body-text" >
        <p><b>BSc and MSc Degree Programmes (in English)</b></p>

        <p>Training is provided under the methodological guidance of the English Language Faculty of Engineering at the Technical University of Sofia.</p>

        <p>
            The interdisciplinary nature of the program prepares the students for a wide range of planning and production positions in public
            and private enterprises as well as in the service and financial sectors. The graduates of the degree programmes can pursue a career
            in most of the engineering areas requiring a combination of knowledge and skills of a mechanical and an electronic engineer.
            Their training and preparation are interdisciplinary and include studying both the fundamental disciplines like mathematics,
            physics, informatics, and specialized basic engineering modules like mechanics, electrical engineering, electronics, production
            engineering, computer-aided design, control theory, manufacturing system design and management, systems modeling, design and analysis,
            etc. A particilar emphasis is placed on management, business and finance. The availability of a wide range and different types of
            elective courses is a significant advantage, adding flexibility to the program. The curriculum is regularly updated to reflect scientific advances as well as changing career requirements.
        </p>
        <p>
            The intensive contacts with universities and companies from EU and other countries help to provide a high level education and also opportunities for practical placements and
            spending a semester abroad to elaborate diploma projects at partner universities.>
        </p>
        <p>
            The degree programmes require development, presentation and defense of a thesis in English.
        </p>
        <p >
            The graduates of the programmes earn a Bachelor's and Master's Degree in Industrial Engineering.
        </p>
    </div>
</div>